<%= turbo_frame_tag "content" do %>
  <div class="p-6 bg-white shadow-md rounded-lg">
    <h2 class="text-xl font-bold mb-4">Orders List</h2>
    <ul>
      <li>Order 1</li>
      <li>Order 2</li>
      <li>Order 3</li>
    </ul>
  </div>
<% end %>