<nav class="bg-white dark:bg-gray-800 antialiased relative">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0 py-4">
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-8">
        <div class="shrink-0">
          <a href="<%= root_path %>" title="BookStore" class="text-lg font-bold text-gray-900 dark:text-white">
            BookStore
          </a>
        </div>
      </div>
      <div class="flex items-center lg:space-x-2 relative">
        <button id="cart_dropdown_button" data-dropdown-toggle="cart_dropdown_button" type="button" class="inline-flex items-center rounded-lg justify-center p-2 hover:bg-gray-100 dark:hover:bg-gray-700 text-sm font-medium leading-none text-gray-900 dark:text-white">
          <span class="sr-only">Cart</span>
          <svg class="w-5 h-5 lg:me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
          </svg>
          <span class="hidden sm:flex">My Cart</span>
          <svg class="hidden sm:flex w-4 h-4 text-gray-900 dark:text-white ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
          </svg>
        </button>
        <%= render 'shared/cart_dropdown', cart_items: @cart_items %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "inline-flex items-center rounded-lg justify-center p-2 bg-red-600 text-white hover:bg-red-700 dark:hover:bg-red-600 text-sm font-medium leading-none" %>
      </div>
    </div>
  </div>
</nav>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dropdownButton = document.getElementById('cart_dropdown_button');
        const dropdownMenu = document.getElementById('cart_dropdown');

        dropdownButton.addEventListener('click', function () {
            dropdownMenu.classList.toggle('hidden');
        });
    });
</script>
