<aside id="default-sidebar" class="w-64 h-screen bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidenav">
  <div class="overflow-y-auto py-5 px-3 h-full">
    <ul class="space-y-2">
      <li>
        <%= link_to "Books", admin_dashboard_books_path, data: { "turbo_frame": :"content" }, class: "flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" %>
      </li>
      <li>
        <%= link_to "Genres", admin_dashboard_genres_path, data: { "turbo_frame": :"content" }, class: "flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" %>
      </li>
    </ul>
  </div>
</aside>

